//
// Typography
//
:root {
    // Used fonts
    // -- Plain text
    --font-primary: 'Open Sans', sans-serif;
    // -- Headings
    --font-secondary: 'Open Sans', sans-serif;

    // Base text values
    --text-base-size: 1em;
    --text-scale-ratio: 1.2;

    // Text scale
    --text-xs: calc(1em / (var(--text-scale-ratio) * var(--text-scale-ratio)));
    --text-sm: calc(1em / var(--text-scale-ratio));
    --text-md: calc(1em * var(--text-scale-ratio));
    --text-lg: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio));
    --text-xl: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
    --text-xxl: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
    --text-xxxl: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));

    // line-height
    --heading-line-height: 1.2;
    --body-line-height: 1.4;

    // Letter-spacing
    --base-letter-spacing: 0.04em;
}

body {
    font-size: var(--text-base-size);
    font-family: var(--font-primary);
    color: var(--text-color);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    letter-spacing: var(--base-letter-spacing);
}

h1, h2, h3, h4, h5, h6, form legend {
    color: var(--text-color);
    margin-bottom: var(--space-xxs);
    line-height: var(--heading-line-height);
    font-family: var(--font-secondary);
}

// Text size
// HEADINGS
h1 {
    font-size: var(--text-xxxl);
    color: var(--success-color);
}
h2 {
    font-size: var(--text-xxl);
}
h3 {
    font-size: var(--text-xl);
}
h4 {
    font-size: var(--text-lg);
}
h5 {
    font-size: var(--text-md);
}
h6 {
    font-size: var(--text-sm);
}

// Paragraphs and links
p {
    line-height: var(--body-line-height);
    margin-bottom: var(--space-sm);
}

a {
    display: inline-block;
    text-decoration: none;
    line-height: var(--body-line-height);
    color: var(--link-color);
    transition: var(--transition-fast) var(--ease-out-strong);

    &:hover {
        color: color-mod(var(--link-color) tint(20%));
    }
}

// OTHER
b, 
strong {
    font-weight: bold;
}

ul, 
ol, 
p {
    margin-bottom: var(--space-md);
}

ul, 
ol {
    list-style-position: outside;
    padding-left: 24px;
}

ul {
    list-style-type: disc;
}

ol {
    list-style-type: decimal;
}

ul li, 
ol li {
    line-height: var(--body-line-height);
}

em {
    font-style: italic;
}

u {
    text-decoration: underline;
}
